/* Reset some basic styles for consistency across browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Allows scrolling of the entire webpage */
#scroll-wrapper {
    height: 100vh;
    width: 100%; 
    overflow-y: auto; 
    padding-top: 20px;
    padding-bottom: 20px; 
}

#scroll-wrapper::-webkit-scrollbar {
    width: 8px; 
}

#scroll-wrapper::-webkit-scrollbar-thumb {
    background-color: #4b9ad2; 
    border-radius: 10px;    
}

#scroll-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: #397cac; 
}

/* Body and general page styling */
body {
    font-family: Arial, sans-serif;
    background-color: #151d23;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    color: #4b9ad2;
}

/* Heading styles */
h1 {
    margin-bottom: 10px;
    color: hsl(207, 97%, 87%);
    font-size: 2em;
}
h2 {
    margin-bottom: 5px;
    color: hsl(207, 97%, 87%);
    font-size: 1.5em;
}

/* Button styling */
button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #4b9ad2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 2; 
}

button:hover {
    background-color: #397cac;
}

/* Card container styling */
#pack {
    margin-top: 20px;
    font-size: 1.2em;
    color: hsl(207, 97%, 87%);;
}

/* Styling for the container that holds the pack cards */
#card-container {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
    padding: 20px;
    width: 100%;
    max-width: none;
    padding-bottom: 10px;
}

/* Styling for the container that holds the pack cards */
#high-rarity-cards {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
    padding: 20px;
    width: 100%;
    max-width: none;
}

/* Styling for each card */
.card {
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    max-width: 160px; 
    width: 100%;
    margin: 10px;
}

/* Image styling for the cards */
.card img {
    width: 160px;
    max-width: 250px; 
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    display: block; 
    margin: 0 auto;
    transition: all 0.3s ease; 
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.card img:hover {
    box-shadow: 0 0 10px 5px rgba(166, 219, 255, 0.8); 
    transform: scale(1.1); 
/*     cursor: pointer; */
}
/* Add some spacing between cards */
.card p {
    margin-top: 10px;
    font-size: 1.1em;
    color: #333;
}

/* Style the dropdown select element */
#pack-select {
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 8px;
    margin: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* Hover effect for the dropdown */
#pack-select:hover {
    border-color: #888;
    background-color: #f1f1f1;
}

/* Focus effect when the dropdown is selected */
#packSelect:focus {
    outline: none;
    border-color: #007BFF;
    background-color: #e9f7fe;
}

/* Style the dropdown options */
#pack-select option {
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
}

/* Hover effect for options */
#pack-select option:hover {
    background-color: #f1f1f1;
}

/* Opened packs counter container */
#packs-opened-container {
    font-size: 20px; 
    font-weight: bold;
    margin: 5px;
}

/* Counters for stats */
#stats-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 10px; 
    padding: 20px;
    font-family: "Hiragino Kaku Gothic Pro", "MS PGothic", arial, helvetica, sans-serif;
    font-weight: bold;
}

#four-diamonds {
    border: hsl(207, 97%, 87%) 2px solid;
    padding: 4px;
}

#one-star {
    border: hsl(207, 97%, 87%) 2px solid;
    padding: 4px;
}
#two-star {
    border: hsl(207, 97%, 87%) 2px solid;
    padding: 4px;
}
#three-star {
    border: hsl(207, 97%, 87%) 2px solid;
    padding: 4px;
}
#Crown {
    border: hsl(207, 97%, 87%) 2px solid;
    padding: 4px;
}

#game-stats-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 10px; 
    padding: 5px;
    font-family: "Hiragino Kaku Gothic Pro", "MS PGothic", arial, helvetica, sans-serif;
    font-weight: bold;
}
#poke-gold, #money-spent, #pack-points {
    border: hsl(207, 97%, 87%) 2px solid;
    padding: 4px;
}

/* Adjust card size for mobile screens */
@media (max-width: 768px) {
    #card-container {
        gap: 2px;
        padding: 2px;
        display: flex; 
        flex-wrap: wrap; 
    }
    #high-rarity-cards {
        gap: 2px;
        padding: 2px;
        display: flex; 
        flex-wrap: wrap; 
    }
    .card img {
        width: 100px;
    }
    .card {
        max-width: 150px; 
    }
}
@media (max-width: 480px) {
    #card-container {
        gap: 2px;
        padding: 2px;
        display: flex; 
        flex-wrap: wrap; 
    }
    #high-rarity-cards {
        gap: 2px;
        padding: 2px;
        display: flex; 
        flex-wrap: wrap; 
    }
    .card img {
        width: 85px;
    }
    .card {
        max-width: 120px; 
    }
}

/* ---------------------------------------------------------- */
/* Second round of mobile improvements */

@media only screen and (max-width:555px) and (min-width:436px) {
    .card img {
        width: 130px;
        height: auto; 
    }
    .card {
        max-width: 130px; 
        width: 100%;
        margin: 5px;
    }
    
}
@media only screen and (max-width:555px) and (min-width:436px) {
    .card img {
        width: 130px;
        height: auto; 
    }
    .card {
        max-width: 130px; 
        width: 100%;
        margin: 5px;
    }
    
}
@media only screen and (max-width:435px) and (min-width:388px) {
    .card img {
        width: 120px;
        height: auto; 
    }
    .card {
        max-width: 120px; 
        width: 100%;
        margin: 2px;
    }
}
@media only screen and (max-width:387px) and (min-width:322px) {
    .card img {
        width: 100px;
        height: auto; 
    }
    .card {
        max-width: 100px; 
        width: 100%;
        margin: 1px;
    }
}
@media only screen and (max-width:321px) and (min-width:277px) {
    .card img {
        width: 85px;
        height: auto; 
    }
    .card {
        max-width: 85px; 
        width: 100%;
        margin: 1px;
    }
}
@media only screen and (max-width:555px) and (min-width:277px) {
    h1 {
        margin-bottom: 20px;
        font-size: 1.5em;
    }
    h2 {
        margin-bottom: 5px;
        font-size: 1.2em;
        margin-top: 15px;
    }
}
